/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}

.wrap{
	max-width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 30px black;
	padding-left: 0%;
	padding-right: 0%;
}

.header{
	height: 418px;
	background: url(https://i.imgur.com/jnhA8yC.png) 0px 20px no-repeat;
}
.header .header-sharelink{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #f6f6f6;
	padding-top: 6px;
	padding-bottom: 8px;
}
.header .header-sharelink .header-sharelink-fbicon{
	width: 1.6%;
	height: 1.6%;
	background: url(https://i.imgur.com/jcfM5e4.png) center center no-repeat;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 1%;
	padding-right: 1%;
}
.header .header-sharelink .header-sharelink-twicon{
	width: 1.4%;
	height: 1.4%;
	background: url(https://i.imgur.com/p1D6UbW.png) center center no-repeat;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	border-left: 1px solid #cccccc;
	padding-left: 1%;
	padding-right: 1%;
}
.header .header-sharelink-fb{
	padding-right: 0.5%;
}
.header .header-sharelink-fb a{
	color: #4460a0;
	font-family: -webkit-MicrosoftJhengHeiRegular;
}
.header .header-sharelink-tw{
	padding-right: 1.3%;
}
.header .header-sharelink-tw a{
	color: #00aaec;
}
.header .header .header-sharelink a{
	text-decoration: none;
	display: block;
	font-size: 15px;
}
.header .header .header-sharelink a:hover{
	cursor: pointer;
}

.header .header-menu{
	display: flex;
	justify-content: flex-end;
	background-color: white;
	font-size: 15px;
	position: relative;
	padding-right: 0.9%;
}

.header .header-menu .header-menu-logo a{
	position: absolute;
	left: 2%;
	bottom: 12.96%;
	width: 170px;
	height: 36px;
	background: url(https://i.imgur.com/YJIvT0a.png) no-repeat;
	display: block;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}
@media (max-width: 569px) {
	.header .header-menu{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}
@media (max-width: 569px) {
	.header .header-menu .header-menu-logo a{
		position: relative;
	}
	.header .header-menu .header-menu-logo{
		padding-top: 10px;
	}
}
.header .header-menu .header-menu-item a{
	display: block;
	line-height: 54px;
	padding-left: 11px;
	padding-right: 11px;
	text-decoration: none;
	color: #02c191;
}
.header .header-menu .header-menu-item a:hover{
	border-bottom: 3px solid #00cc99;
	height: 51px;
}
.header h1{
	margin-top: 94px;
	font-size: 36px;
	line-height: 48px;
	color: white;
	padding-top: 40px;
	padding-bottom: 37px;
	padding-left: 23px;
	font-weight: bold;
	background: url(https://i.imgur.com/0VA28Dq.png) repeat-x center center;
}
@media (max-width: 767px) {
	.header h1{
		font-size: 30px;
	}
}
@media (max-width: 569px) {
	.header h1{
		font-size: 26px;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 16px;
	}
}
.body .body-content{
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 60px;
}
@media (max-width: 767px) {
	.body .body-content{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.body-content-1 ,.body-content-2 ,.body-content-3{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 31%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
}
.body-content-1 img{
	display: block;
	width: 121px;
	height: 134px;
	padding-top: 28px;
}
.body-content-2 img{
	display: block;
	width: 221px;
	height: 136px;
	margin-top: 35px;
}
.body-content-3 img{
	display: block;
	width: 114px;
	height: 136px;
	padding-top: 35px;
}
.body-content-1 h2,.body-content-2 h2,.body-content-3 h2{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #333333;
}
.body-content-1 h2{
	padding-top: 12px;
}
.body-content-2 h2{
	padding-top: 3px;
}
@media (max-width: 767px) {
	.body-content-1 ,.body-content-2 ,.body-content-3{
		width: 50%;
	}
	.body-content-1 ,.body-content-2 ,.body-content-3{
		margin-bottom: 30px;
	}
	.body-content-1 h2,.body-content-2 h2,.body-content-3 h2{
		font-size: 28px;
		line-height: 36px;
	}
}
.body-content-1 p,.body-content-2 p,.body-content-3 p{
	font-size: 15px;
	line-height: 22px;
	color: #333333;
	padding-top: 10px;
}
.body-content-1 p,.body-content-2 p{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 22px;
	padding-bottom: 24px;
}
.body-content-3 ul{
	padding-left: 20px;
	align-self: start;
	line-height: 22px;
}
.body-content-3 li{
	list-style: disc;
	margin-left: 15px;
}
@media (max-width: 767px) {
	.body-content-1 p,.body-content-2 p,.body-content-3 p{
		font-size: 18px;
		line-height: 30px;
	}
	.body-content-3 ul{
		padding-bottom: 24px;
	}
	.body-content-3 li{
		font-size: 16px;
		line-height: 26px;
	}
}
.body h3{
	text-align: center;
	margin-top: 64px;
	font-size: 24px;
	line-height: 22px;
	font-weight: bold;
	color: #333333;
}
.body-compare{
	width: 84%;
	margin-top: 30px;
	margin-left: 82px;
}
.body-compare th{
	font-size: 15px;
	line-height: 36px;
	font-weight: bold;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 12px;
	background-color: #f7f7f7;
	padding-left: 22px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.body-compare td{
	padding-left: 22px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	border-bottom: 1px solid #dddddd;
}
.body-compare .body-compare-style1{
	color: #00a67d;
}
@media (max-width: 767px) {
	.body-compare{
		width: 95%;
		margin-left: 2.5%;
	}
}
.body-form{
	height: 485px;
	margin-top: 61px;
	background: linear-gradient(#00644b,#009872);
}
.body-form h4{
	padding-top: 38px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

.body-form-item{
	display: flex;
	justify-content: space-around;
	margin-top: 32px;
}

.body-form-item-suggestion{
	width: 460px;
	height: 245px;
}
.body-form-item li label{
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}
.body-form-item-name ,.body-form-item-tel ,.body-form-item-email{
	width: 460px;
	line-height: 32px;
	margin-bottom: 16px;
}
.body-form-item-submit{
	width: 70px;
	height: 32px;
	margin-top: 5px;
	font-size: 14px;
	line-height: 24px;
	float: right;
	border-radius: 3px;
	color: #ffffff;
	background-color: #00cc99;
}
.body-form-item-submit:hover{
	background-color: #04b68a;
}
@media (max-width: 1000px) {
	.body-form{
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.body-form-item{
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
		position: relative;
		width: 90%;
	}
	.body-form-item-suggestion{
		box-sizing: border-box;
	}
	.body-form-item-name ,.body-form-item-tel ,.body-form-item-email{
		line-height: 32px;
	}
}
@media (max-width: 390px) {
	.body-form-item{
		
	}
	.body-form-item-name ,.body-form-item-tel ,.body-form-item-email{
		line-height: 32px;
	}
}
.footer{
	position: relative;
	height: 120px;
}
.footer .footer-logo{
	width: 170px;
	height: 36px;
	background: url(https://i.imgur.com/s3wekbf.png) center center no-repeat;
	display: block;
	text-decoration: none;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	left: 2.1%;
	top: 21.6666%;
}
.footer p{
	float: right;
	font-size: 15px;
	line-height: 24px;
	padding-right: 1.5%;
	padding-top: 28px;
	padding-bottom: 54px;
}
.footer p a{
	text-decoration: none;
	color: #e12d80;
}
.footer p a:hover{
	color: #911b52;
}
@media (max-width: 390px) {
	.footer{
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer .footer-logo{
		position: relative;
		padding: 20px 0px 20px;
	}
	.footer p{
		float: none;
		font-size: 15px;
		padding: 0 0 20px;
	}
}